html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 776px;
  font-size: 36px;
  margin-bottom: 30px;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  height: 120px;
  font-size: 60px;
  border: 10px solid white;
  outline: none;
  padding: 20px;
  background-color: transparent;
}

.enter {
  width: fit-content;
  height: 180px;
  padding: 20px 40px;
  border: 10px solid white;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  background-color: white;
  color: #242424;
  line-height: 120px;
  border-radius: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
